.category-name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.card-img-top{
    height: 200px;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
}
.card img {
    border-radius: 4px;
    object-fit: cover;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px
}
.card-body{
    font-family: 'Dubai Medium';
}