.category-name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img-top{
    height: 200px;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
}
.card img {
    border-radius: 4px;
    object-fit: cover;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px
}
.card-body{
    font-family: 'Dubai Medium';
}
.grand-tot-div{
    background: rgb(238, 238, 238);
    border-radius: 5px;
    border-style: groove;
    align-items: center;
    justify-content: space-between;
    display: flex; 
    padding: 5px;
}

@media only screen and (max-width: 480px){
    .row2 .card-img-top{
        height: 130px !important;
    }
}
